# Dependencies
node_modules/

# Build output
dist/

# Astro
.astro/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.*

# Logs
*.log
npm-debug.log*

# Temporary
*.tmp
.cache/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
